lesson_7/Wikipedia11/__pycache__/Exercise_1_Functions.cpython-310.pyc
lesson_7/Wikipedia11/__pycache__/Exercise_2_Default_Arguments.cpython-310.pyc
lesson_7/Wikipedia11/__pycache__/Exercise_3_Return.cpython-310.pyc
lesson_7/Wikipedia11/__pycache__/Exercise_Labb_1.cpython-310.pyc
lesson_7/Wikipedia11/__pycache__/Exercise_Labb_2.cpython-310.pyc
lesson_8/Wikipedia11/__pycache__/Exercise_1_Raise.cpython-310.pyc
